
@import "compass/css3";

$shadow: #000;
$dark: #3B3B3B;
$neutral: #666;
$light: #F0F0F0;

$blue: #ADEAEA;
$red: #FF3030;

/* ---------------------------------------------------------------------------
 * Html
 * --------------------------------------------------------------------------- */

* {
	@include box-sizing(border-box);
}

body {
	color: $dark;
	font-family: 'Oswald', sans-serif;
}

a { text-decoration: none; }

@font-face {
	font-family: 'FontAwesome';
	src: url('/styles/fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('/styles/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('/styles/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('/styles/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-style: normal;
	font-weight: normal;  
}

i { 
	cursor: pointer;
	font-family: 'FontAwesome'; 
	font-style: normal;
	font-size: 2.5rem;	
}

.container { 
	margin: 0; 
}

/* ---------------------------------------------------------------------------
 * Toolbar
 * --------------------------------------------------------------------------- */

.toolbar {

	& {
		background-color: $dark;
		height: 128px;
		padding: 16px;
		top: 0;
		left: 0;
		width: 100%;
	}

	h1 {
		color: $neutral;
		margin: 0;
	}	

	nav a {				
		
		& {			
			color: $light;
			margin-right: 16px;
			text-decoration: none;
		}
		&:active { text-decoration: underline; }
		&:hover { text-decoration: underline; }
	}

}

/* ---------------------------------------------------------------------------
 * Content
 * --------------------------------------------------------------------------- */

$ul-width: 736px;
$ul-gutter: 8px;
$ul-cols: 4;

@mixin ul-cell {
	width: $ul-width / $ul-cols - $ul-gutter  * 2;
	height: $ul-width / $ul-cols - $ul-gutter * 2;
	margin: $ul-gutter;
}

@mixin fixed ($type: relative, $top: auto, $right: auto, $bottom: $auto, $left: auto) {
	position: $type;
}

@function ulFluid($divide) {
	@return $ul-width / $divide;
}

.content {
	
	& { 
		margin: 0; 
	}

	header {		
		background-color: $light;
		padding: 2px 0;
		text-align: center;	
	}

	ul {
		list-style: none;
		margin: 32px auto;
		overflow: hidden;
		padding: 0;
		max-width: $ul-width;
	}

	li {

		& {				
			background-size: contain;	
			border: 5px solid $blue;			
			float: left;
			@include border-radius(50%);
			@include ul-cell;				
		}

		&.about {
			
			.tag {
				color: $blue; 
				position: relative;
				top: -15px;
				right: 10px;
			}

		}

		&.product {}

		&.project {

			.tag { 
				background-color: $light;
				background-repeat: no-repeat;
				background-position: top left;
				border: 2px solid $blue;
				color: $dark;
				padding: 5px;
			}

		}

		&.snippet {

			& { background: #fff url(/images/code-bg.png) center center no-repeat; }

			.tag {
				height: 64px;
				position: relative;
				top: -20px;
				width: 64px;
			}

			.body {
				width: 85%;
				height: 45%;
				margin: auto;
				position: relative;
				top: -20px;
				overflow: hidden;
				text-align: center;
			}
		}

	}


}

/* ---------------------------------------------------------------------------
 * Grid
 * --------------------------------------------------------------------------- */

.row {

	& {
		max-width: 436px;
		margin: auto;
	}

	p {

		& { padding: 0 5px; }

		&:first-letter {
			font-size: 2em;
			font-family: times;
			font-weight: bold;
		}
	}

}

/* ---------------------------------------------------------------------------
 * Media Query
 * --------------------------------------------------------------------------- */

@media screen and (max-width: ulFluid(1)) { .content ul { max-width: ulFluid(2); } }
@media screen and (max-width: ulFluid(2)) { .content ul { max-width: ulFluid(4); } }