<div class="content">

	<header>
		<h1>About</h1>
		<p>who am i?</p>
	</header>

	<ul>
		<li ng-repeat="avatar in avatars" class="about" style="background-image: url(images/{{avatar.bg}})">
			<a class="tag" href="{{avatar.href}}" target="_blank"><i ng-bind-html="avatar.icon"></i></a>
		</li>
	</ul>

	<div class="row">		
		<p>
		This is our world now... the world of the electron and the switch, the beauty of the baud. 
		</p>
	</div>

</div>