<div class="content">

	<header>
		<h1>Projects</h1>
		<p>it's happening</p>
	</header>

	<ul>
		<li ng-repeat="project in projects" class="project" style="background-image: url(images/{{project.bg}})">
			<a class="tag" href="{{project.href}}" target="_blank">
				{{project.title}}
			</a>
		</li>
	</ul>

</div>
