<div class="content">

	<header>
		<h1>Snippets</h1>
		<p>puzzle pieces</p>
	</header>

	<!--
	<section class="search" ng-controller="Search">
		<input></input>
	</section>
	-->

	<ul>
		<li ng-repeat="snippet in snippets" class="snippet">	
			<a ng-repeat="file in snippet.files" class="tag" href="{{snippet.html_url}}" target="_blank">
				<img src="images/{{file.language}}.png"></img>
			</a>

			<div class="body">
				{{snippet.description}}
			</div>

		</li>
	</ul>

</div>